NEXT_PUBLIC_SUPABASE_URL=https://yoursupabaseurl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=anon_key
SUPABASE_SERVICE_ROLE_KEY=service_role_key
DATABASE_URL="postgresql://postgres.tvyrszersmeshxhvqunl:[PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres"

# Stripe
STRIPE_SECRET_KEY=secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_key
STRIPE_WEBHOOK_SECRET=webhook_key